@model Dariel.Mahlatse.Phonebook.Core.Models.PhoneBookModel

@{
    ViewBag.Title = "EditPhonebook";
}

<h2>Edit Phonebook</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PhoneBookModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model.Id > 0)
{
    <p>
        @Html.ActionLink("Create New Entry", "EditPhonebookEntry", new { phonebookId = Model.Id })
    </p>
    if (Model.Entries != null && Model.Entries.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Entries[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Entries[0].PhoneNumber)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Entries)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPhonebookEntry", new { phonebookId = Model.Id, entryId = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
            }

        </table>
    }

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
